@import "~bootstrap/scss/bootstrap";
@import "./global/fonts.scss";
@import "./scss/header.scss";
@import "./scss/inicio.scss";
@import "./scss/sistema-seguro.scss";
@import "./scss/somos-a-solucao.scss";
@import "./scss/como-a-reiterar-trabalha.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circular Std";
  font-size: 16px;
  -webkit-font-smoothing: antialiased !important;
}

@media screen and (max-width: 1330px) {
  body {
    font-size: 14px;
  }
}
