.inicio {
  min-height: 750px;
  height: 100vh;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    padding: 15px;
  }

  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    padding-bottom: 40px;
  }

  a {
    background-color: #5e4dff;
    border: none;
    color: #fff;
    border-radius: 100px;
    padding-left: 40px;
    margin: auto;
    outline: none;
    transition: all 350ms ease-in-out;
    max-width: 310px;
    justify-content: space-between;
    
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      background-image: url(./imgs/seta-down.svg);
      width: 48px;
      height: 48px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #8578ff;
      border-radius: 50px;
      margin: 7px;
      margin-left: 40px;
    }
    &:hover {
      background-color: #8578ff;
    }
  }
}

@media screen and (max-width: 991px) {
  .inicio {
    height: auto;
    h1 {
      text-align: center;
      width: 100%;
      font-size: 2em;
    }
    p {
      text-align: center;
      width: 100%;
    }
    a {
      &:after {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50px;
        background-size: 50%;
      }
      &:hover {
      }
    }
  }
}
