.parceiros {
  padding: 128px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  img {
    margin: 0 15px;
    max-width: 150px;
  }
}

@media screen and (max-width: 991px) {
  .parceiros {
    padding: 100px 0;
    img {
      max-width: 200px;
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
